* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* This is the styles for Input component */
.input-field-label {
    color: #EEEEEE;
    font-family: 'Russo One';
    font-size: 18px;
}

.input-field-container {
    margin-top: 5px;
    background-color: #31363F;
    padding: 10px 15px;
    border-radius: 5px;
}

.input-field {
    font-family: "Montserrat";
    background-color: transparent;
    border: none;
    color: #EEEEEE;
    outline: none;
    font-size: 18px;
    width: 100%;
}

/* This is the Button component */
.btn {
    color: #222831;
    font-family: 'Russo One';
    border-radius: 5px;
    background-color: #76ABAE;
    border: none;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
}

.btn:hover {
    color: #EEEEEE  ;
    background-color: #8a6029;
    transition: 0.3s;
}

.error {
    color: #8a6029;
    font-size: 18px;
    font-weight: 600;
    font-family: Montserrat;
    text-align: center;
}